### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
.dccache

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Me-defined files

# find a way to store this. gitgub onlt accepts <100 MB files.
*.mp4
*/node_modules/
*-lock.json
